<h2 style="color:blue">Editing article</h2>

<%= render "form", article: @article %>

<br>

<div class="container">
  <%= link_to "Show this article", @article %> |
  <%= link_to "Back to articles", articles_path %>
</div>
